:root {
  --gradient: linear-gradient(90deg, var(--secondary) 0%, var(--tertiary) 100%);
  --primary: #0a0a0a;
  --tertiary: #7300e6;
}

/*Variables Grid
 */
:root {
  --grid-gutter-width: calc(var(--spacer) * 2);
  --spacer: 0.8rem;
}

@media (max-width: 1399px) {
  :root {
    --container-max-width: 90%;
  }
}

/*Variables Type
 */
:root {
  --font-monospace: 'nimbus_monoregular', monospace;
  --font-sans-serif: 'nimbus_sans_lregular', sans-serif;
  // TODO: clean up variable '--font-sans-serif-2'
  --font-sans-serif-2: 'nimbus_sans_lregular', sans-serif;
  --font-sans-serif-bold: 'nimbus_sans_lbold', sans-serif;
  --fs-1: 4.2rem;
  --fs-2: 3.6rem;
  --fs-3: 3.2rem;
  --fs-4: 2.8rem;
  --fs-5: 2.4rem;
  --fs-6: 2.1rem;
  --fs-7: 1.8rem;
  --fs-8: 1.6rem;
  --fs-lg: 6.3rem;
  --fs-xl: 9.6rem;
  --lh-base: calc(var(--spacer) * 4);
}

@media (max-width: 600px) {
  :root {
    --fs-1: 2.8rem;
    --fs-2: 2.4rem;
    --fs-3: 2.1rem;
    --fs-4: 1.8rem;
    --fs-5: 1.6rem;
    --fs-6: 1.4rem;
    --fs-7: 1.2rem;
    --lh-base: calc(var(--spacer) * 3);
  }
}

/*Grid
 */
@media (max-width: 1264px) {
  .col-2-md {
    width: calc(100% / var(--grid-columns) * 2);
  }

  .col-4-md {
    width: calc(100% / var(--grid-columns) * 4);
  }

  .col-6-md {
    width: calc(100% / var(--grid-columns) * 6);
  }

  .col-8-md {
    width: calc(100% / var(--grid-columns) * 8);
  }

  .col-10-md {
    width: calc(100% / var(--grid-columns) * 10);
  }
}

/*Type
 */
a {
  color: var(--primary);
  text-decoration: none;
}

b,
strong {
  color: var(--grey-60);
  font-weight: var(--fw-normal);
}

button {
  padding: 0;
}

button:hover {
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-normal);
  text-transform: uppercase;
}

h1 {
  line-height: calc(var(--spacer) * 7);
}

h2 {
  line-height: calc(var(--spacer) * 6);
}

h3,
h4 {
  line-height: calc(var(--spacer) * 5);
}

h5 {
  line-height: var(--lh-base);
}

@media (max-width: 600px) {
  h1 {
    line-height: 3.2rem;
  }

  h3 {
    line-height: 2.8rem;
  }
}

img {
  pointer-events: none;
}

li::marker {
  color: var(--secondary);
}

pre {
  white-space: normal;
}

/*Utilities
 */
.align-top {
  vertical-align: top;
}

.backdrop-filter-blur {
 backdrop-filter: blur(var(--spacer)) saturate(130%);
}

.border-bottom {
  border-width: 0.2rem;
}

.d-inline-flex {
  display: inline-flex;
}

.font-sans-serif-2 {
  font-family: var(--font-sans-serif-2);
}

.font-sans-serif-bold {
  font-family: var(--font-sans-serif-bold);
}

.fs-1,
.fs-1 p {
  line-height: calc(var(--spacer) * 7);
}

.fs-2,
.fs-2 p {
  line-height: calc(var(--spacer) * 6);
}
.fs-3,
.fs-3 p,
.fs-4,
.fs-4 p {
  line-height: calc(var(--spacer) * 5);
}

.fs-5,
.fs-5 p,
.fs-6,
.fs-6 p {
  line-height: var(--lh-base);
}

.fs-lg {
  font-size: var(--fs-lg);
  line-height: calc(var(--spacer) * 10);
}

.fs-xl {
  font-size: var(--fs-xl);
  line-height: calc(var(--spacer) * 12);
}

// TODO: cleanup style breakpoint 'xl'
@media (max-width: 1399px) {
  .fs-1-xl,
  .fs-1-xl p {
    line-height: 4.0rem;
  }

  .fs-2-xl,
  .fs-2-xl p,
  .fs-3-xl,
  .fs-3-xl p,
  .fs-4-xl,
  .fs-4-xl p,
  .fs-5-xl,
  .fs-5-xl p {
    line-height: 3.2rem;
  }

  .fs-6-xl,
  .fs-6-xl p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 1264px) {
  .fs-1-md,
  .fs-1-md p {
    line-height: 4.0rem;
  }

  .fs-2-md,
  .fs-2-md p,
  .fs-3-md,
  .fs-3-md p,
  .fs-4-md,
  .fs-4-md p,
  .fs-5-md,
  .fs-5-md p {
    line-height: 3.2rem;
  }

  .fs-6-md,
  .fs-6-md p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 960px) {
  .fs-1-sm,
  .fs-1-sm p,
  .fs-2-sm,
  .fs-2-sm p {
    line-height: 4.8rem;
  }

  .fs-1-sm,
  .fs-1-sm p {
    font-size: var(--fs-1);
  }

  .fs-3-sm,
  .fs-3-sm p {
    line-height: 4.0rem;
  }

  .fs-4-sm,
  .fs-4-sm p,
  .fs-5-sm,
  .fs-5-sm p {
    line-height: 3.2rem;
  }

  .fs-6-sm,
  .fs-6-sm p {
    line-height: var(--lh-base);
  }
}

// TODO: cleanup style breakpoint 'sm'
@media (max-width: 767px) {
  .fs-1-sm,
  .fs-1-sm p {
    line-height: 4.0rem;
  }

  .fs-2-sm,
  .fs-2-sm p,
  .fs-3-sm,
  .fs-3-sm p,
  .fs-4-sm,
  .fs-4-sm p,
  .fs-5-sm,
  .fs-5-sm p {
    line-height: 3.2rem;
  }

  .fs-6-sm,
  .fs-6-sm p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 600px) {
  .fs-1,
  .fs-1 p,
  .fs-1-xs,
  .fs-1-xs p {
    line-height: 3.2rem;
  }

  .fs-3,
  .fs-3 p,
  .fs-3-xs,
  .fs-3-xs p {
    line-height: 2.8rem;
  }
}

@media (max-width: 1264px) {
  .fs-8-lg,
  .fs-8-lg p {
    font-size: var(--fs-8);
  }

  .h-10-lg {
    height: calc(var(--spacer) * 10);
  }
}

@media (max-width: 600px) {
  .h-8-xs {
    height: calc(var(--spacer) * 8);
  }
}

.h-54 {
  height: calc(var(--spacer) * 54);
}

@media (max-width: 600px) {
  .h-40-xs {
    height: calc(var(--spacer) * 40);
  }
}

.mh-21 {
  min-height: calc(var(--spacer) * 21);
}

.mh-25 {
  min-height: calc(var(--spacer) * 25);
}

@media (max-width: 960px) {
  .mh-0-md {
    min-height: 0;
  }
}

.mix-blend-mode-multiply {
  mix-blend-mode: multiply;
}

.text-delimiter:after {
  content: " — ";
}

.text-delimiter:last-child:after {
  content: "";
}

.text-transform-none {
  text-transform: none;
}

.top-10 {
  top: calc(var(--spacer) * 10);
}

.top-16 {
  top: calc(var(--spacer) * 16);
}

@media (max-width: 600px) {
  .top-8-xs {
    top: calc(var(--spacer) * 8);
  }

  .top-13-xs {
    top: calc(var(--spacer) * 13);
  }
}

.z-index-10000 {
  z-index: 10000;
}

/*Components
 */
.content {
  padding-bottom: calc(var(--spacer) * 11);
}

.content a {
  border-bottom: 0.1rem solid var(--primary);
}

.content code {
  background-color: var(--grey-98);
  color: var(--grey-60);
  padding: 0.2em 0.4em;
}

.content em {
  color: var(--grey-60);
}

.content .fs-1 p {
  font-size: var(--fs-1);
}

.content .fs-2 p {
  font-size: var(--fs-2);
}

.content .fs-3 p {
  font-size: var(--fs-3);
}

.content .fs-4 p {
  font-size: var(--fs-4);
}

.content .fs-5 p {
  font-size: var(--fs-5);
}

.content .fs-6 p {
  font-size: var(--fs-6);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding-top: calc(var(--spacer) * 5);
}

.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child,
.content h5:first-child,
.content h6:first-child {
  padding-top: 0;
}

.content h2 {
  font-size: var(--fs-1);
  line-height: calc(var(--spacer) * 7);
}

.content h3 {
  font-size: var(--fs-2);
  line-height: calc(var(--spacer) * 6);
}

.content h4,
.content h5 {
  line-height: calc(var(--spacer) * 5);
}

.content h4 {
  font-size: var(--fs-3);
}

.content h5 {
  font-size: var(--fs-4);
}

.content h6 {
  font-size: var(--fs-5);
}

@media (max-width: 960px) {
  .content h2 {
    font-size: var(--fs-2);
    line-height: calc(var(--spacer) * 6);
  }

  .content h3,
  .content .fs-3 p {
    font-size: var(--fs-3);
    line-height: calc(var(--spacer) * 5);
  }

  .content h4,
  .content h5 {
    line-height: var(--lh-base);
  }

  .content h4 {
    font-size: var(--fs-4);
  }

  .content h5 {
    font-size: var(--fs-5);
  }
}

.content li,
.content p {
  font-size: var(--fs-5);
  line-height: 3.2rem;
}

@media (max-width: 767px) {
  .content li,
  .content p {
    font-size: var(--fs-6);
    line-height: var(--lh-base);
  }
}

@media (max-width: 600px) {
  .content h1 {
    line-height: 3.2rem;
  }

  .content h3 {
    line-height: 2.8rem;
  }
}

.content ul {
  text-indent: calc(var(--spacer) * (-2));
  margin-left: calc(var(--spacer) * 2);
}

.content-single blockquote {
  color: var(--grey-60);
  font-family: var(--font-sans-serif-2);
  padding: calc(var(--spacer) * 5) 0;
  width: 100%;
}

.content-single blockquote p {
  font-size: var(--fs-3);
  margin-left: calc(100% / var(--grid-columns) * 3);
  width: calc(100% / var(--grid-columns) * 7);
}

@media (max-width: 960px) {
  .content-single blockquote p {
    margin-left: calc(100% / var(--grid-columns) * 2);
    width: calc(100% / var(--grid-columns) * 10);
  }
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6,
.content-single p,
.content-single pre,
.content-single ul {
  width: calc(100% / var(--grid-columns) * 8);
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6,
.content-single p,
.content-single pre {
  margin-left: calc(100% / var(--grid-columns) * 2);
}

.content-single ul {
  margin-left: calc(100% / var(--grid-columns) * 2 + var(--spacer) * 2);
}

@media (max-width: 960px) {
  .content-single h1,
  .content-single h2,
  .content-single h3,
  .content-single h4,
  .content-single h5,
  .content-single h6,
  .content-single p,
  .content-single pre,
  .content-single ul {
    width: 100%;
  }

  .content-single h1,
  .content-single h2,
  .content-single h3,
  .content-single h4,
  .content-single h5,
  .content-single h6,
  .content-single p,
  .content-single pre {
    margin-left: 0;
  }

  .content-single ul {
    margin-left: calc(var(--spacer) * 2);
  }
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6 {
  padding-left: var(--grid-gutter-width);
  padding-right: var(--grid-gutter-width);
}

.content-single img {
  margin: calc(var(--spacer) * 5) 0 var(--spacer);
  width: 100%;
}

.content-single p,
.content-single ul {
  padding: 0 var(--grid-gutter-width);
}

.content-single pre {
  background-color: var(--grey-98);
  color: var(--grey-60);
  margin-top: calc(var(--spacer) * 5);
  padding: calc(var(--spacer) * 3) calc(var(--spacer) * 3) calc(var(--spacer) * 2);
}

.form-data,
.form-input-wrapper,
.form-textarea-wrapper {
  width: 100%;
}

.form-data,
.form-textarea-wrapper {
  display: flex;
}

.grecaptcha-badge {
  visibility: hidden;
}

@media (max-width: 600px) {
  .hamburger {
    transform: scale(0.75);
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--primary);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  border-radius: 0;
}

.hero strong {
  color: var(--grey-60);
  font-family: var(--font-sans-serif-2);
}

.js-end-zone-helper-transition {
  transition: transform var(--transition-duration);
}

.js-end-zone-helper-transition-active {
  transform: translateY(calc(var(--spacer) * (-8)));
}

@media (max-width: 600px) {
  .js-end-zone-helper-transition-active {
    transform: translateY(calc(var(--spacer) * (-15)));
  }
}

.js-end-zone-helper-transition-inactive {
  transform: translateY(0);
}

.nav-md-active,
.nav-md-active .nav-md-inner {
  height: calc(100vh - var(--spacer) * 16);
}

@media (max-width: 600px) {
  .nav-md-active,
  .nav-md-active .nav-md-inner {
    height: calc(100vh - var(--spacer) * 14);
  }
}

.pb-0 {
  padding-bottom: 0;
}
