<div class="border-bottom pb-9">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-11">
        <ul>
          {% for p in page.collection({ items: {'@page.children': '/blog'}, 'limit': 3, 'order': {'by': 'date', 'dir': 'desc'} }) %}
            <li class="d-block mb-2">
              <a class="fs-3 text-decoration-underline" href="{{ p.url|e }}">{{ p.title|e }} ></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
