# ignore everything in the root except the "user" directory.
/*
!user/

# ignore everything in the "user" directory, except:
# config, pages, and themes directories
user/*
!user/config/
!user/pages/
!user/themes/

# ignore all config, and themes
# unless explicitly whitelisted at the end of this file
user/config/*
user/themes/*

# ignore node dependency directories
node_modules/

#ignore Editor files
pinegrow*
_pginfo/

# ignore image files
*.jpg
*.png
*.svg

# track these files, if they exist
!.gitignore

# track these config, and themes
!user/config/system.yaml
!user/themes/martonlente/
