{% extends 'partials/langswitcher-logic.html.twig' %}

{% block language_block_start %}{% endblock %}

{% block language_block_end %}{% endblock %}

{% block language_item %}
  {% if show_language %}
    <li class="languageswitcher-item list-style-none mb-3 text-center {{ active_class }}">
      <a class="fs-3 primary {{ current_page|e }}" href="{{ lang_url ~ uri.params ~ (uri.query|length > 1 ? '?' ~ uri.query) }}">{% include 'partials/langswitcher-' ~ display_format ~ '.html.twig' %}</a>
    </li>
  {% endif %}
{% endblock %}
