<section class="container pb-5">
  <figure>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <img alt="{{ page.header.featured_imade_description|e }}" class="d-block w-100" src="{{ page.media[header.featured_image].resize(1920).url|e }}">
      </div>
      <div class="col-1"></div>
    </div>
  </figure>
</section>
