<ul class="d-flex justify-content-end mb-0">
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
        <li class="fs-7-lg lh-1 list-style-none ms-3 {{ current_page|e }}"><a class="primary" href="{{ page.url|e }}">{{ page.menu|e }}</a></li>
    {% endfor %}
</ul>
