{% extends 'partials/base.html.twig' %}

{% block hero %}
  {% include 'partials/hero.html.twig' %}
{% endblock %}
{% block content %}
  <section>
    <div class="container">
      {% for module in page.collection() %}
        {{ module.content|raw }}
      {% endfor %}
    </div>
  </section>
{% endblock %}
