{% extends 'partials/base.html.twig' %}

{% block hero %}
  {% include 'partials/hero.html.twig' %}
{% endblock %}
{% block content %}
  {% include 'partials/featured_image.html.twig' %}
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 content content-single">
      {{ page.content|raw }}
    </div>
    <div class="col-2"></div>
  </div>
{% endblock %}
