{% block content %}
  <div class="row">
    <div class="col-2"></div>
    <div class="col-1 col-2-md text-end">
      <img alt="" class="fill-grey-60 h-8 js-svg-injector-item mb-0 mw-100" src="{{ url('theme://images/asset-period.svg') }}">
    </div>
    <div class="col-7 col-10-md content">
      <blockquote class="font-sans-serif-2 fs-3 grey-60">
        {{ page.content|raw }}
      </blockquote>
    </div>
    <div class="col-2"></div>
  </div>
{% endblock %}
