{% block content %}
  <div>
    <div class="container">
      <div class="pb-6 row">
        {% for card in page.header.cards %}
          <div class="col-4 mb-6">
            <button class="align-items-center bg-transparent border-0 d-flex js-btn-card-text pb-2">
              <h3 class="grey-60 me-1">{{ card.header|e }}</h3>
              <img alt="" class="h-2 fill-grey-60 js-btn-card-text-img js-svg-injector-item mb-1" src="{{ url('theme://images/ic_fluent_add_24_regular.svg') }}">
              <img alt="" class="d-none h-2 fill-grey-60 js-btn-card-text-img js-svg-injector-item mb-1" src="{{ url('theme://images/ic_fluent_subtract_24_regular.svg') }}">
            </button>
            <p class="grey-60 h-0 js-card-text-txt mb-3 opacity-0 overflow-y-hidden">{{ card.text|e }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
