{% extends 'partials/base.html.twig' %}

{% block hero %}
  {% include 'partials/hero.html.twig' %}
{% endblock %}
{% block content %}
  <section class="border-bottom">
    <div class="container">
      <div class="pb-6">
        {% for module in page.collection() %}
          {{ module.content|raw }}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
