{% extends 'partials/base.html.twig' %}

{% block hero %}
  {% include 'partials/hero.html.twig' %}
{% endblock %}
{% block content %}
  {% include 'partials/featured_image.html.twig' %}
  <div class="container content content-single js-content-single">
    <div class="row">
      {{ page.content|raw }}
    </div>
  </div>
  {% include 'author.html.twig' with {'page': page.find('/author')} %}
{% endblock %}
