:root {
  --primary: #0d0033;
  --tertiary: #7300e6;
}

/*Variables Grid
 */
:root {
  --grid-gutter-width: 1.2rem;
  --spacer: 0.8rem;
}

@media (max-width: 1399px) {
  :root {
    --container-max-width: 90%;
  }
}

/*Variables Type
 */
:root {
  --font-monospace: 'Ubuntu Mono', monospace;
  --font-sans-serif: 'Rutan-Medium', sans-serif;
  --font-sans-serif-2: 'Rutan-DemiBold', sans-serif;
  --fs-8: 1.2rem;
  --lh-base: 2.4rem;
}

/*Grid
 */
.row .row {
  margin-left: calc(var(--grid-gutter-width) * (-1));
  width: calc(100% + var(--grid-gutter-width) * 2);
}

[class*='col-'] [class*='col-']:first-child {
  padding-left: var(--grid-gutter-width);
}

[class*='col-'] [class*='col-']:last-child {
  padding-right: var(--grid-gutter-width);
}

/*Type
 */
a {
  text-decoration: none;
}

b,
strong {
  font-family: var(--font-sans-serif-2);
  font-weight: var(--fw-normal);
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans-serif-2);
  font-weight: var(--fw-normal);
}

h1 {
  line-height: 4.0rem;
}

h2,
h3 {
  line-height: 3.2rem;
}

h4,
h5 {
  line-height: var(--lh-base);
}

/*Utilities
 */
.backdrop-filter-blur {
 backdrop-filter: blur(var(--spacer));
}


.bg-gradient {
  background-image: linear-gradient(90deg, var(--secondary) 0%, var(--tertiary) 100%);
}

.font-sans-serif-2 {
  font-family: var(--font-sans-serif-2);
}

.fs-1 {
  line-height: 4.0rem;
}

.fs-2,
.fs-3 {
  line-height: 3.2rem;
}

.fs-4,
.fs-5,
.fs-6 {
  line-height: var(--lh-base);
}

@media (max-width: 1199px) {
  .fs-8-lg {
    font-size: var(--fs-8);
  }
}

.grid-columns-1 {
  --grid-columns: 1;
}

.grid-columns-2 {
  --grid-columns: 2;
}

.grid-columns-3 {
  --grid-columns: 3;
}

.grid-columns-4 {
  --grid-columns: 4;
}

.grid-columns-5 {
  --grid-columns: 5;
}

.grid-columns-6 {
  --grid-columns: 6;
}

.grid-columns-7 {
  --grid-columns: 7;
}

.grid-columns-8 {
  --grid-columns: 8;
}

.grid-columns-9 {
  --grid-columns: 9;
}

.grid-columns-10 {
  --grid-columns: 10;
}

.grid-columns-11 {
  --grid-columns: 11;
}

.grid-columns-12 {
  --grid-columns: 12;
}

.grid-columns-13 {
  --grid-columns: 13;
}

.grid-columns-14 {
  --grid-columns: 14;
}

.grid-columns-15 {
  --grid-columns: 15;
}

.grid-columns-16 {
  --grid-columns: 16;
}

.h-0 {
  height: 0;
}

@media (max-width: 1199px) {
  .h-10-lg {
    height: calc(var(--spacer) * 10);
  }
}

@media (max-width: 575px) {
  .h-8-xs {
    height: calc(var(--spacer) * 8);
  }
}

.h-54 {
  height: calc(var(--spacer) * 54);
}

.mh-6 {
  min-height: calc(var(--spacer) * 6);
}

.mh-8 {
  min-height: calc(var(--spacer) * 8);
}

.mix-blend-mode-multiply {
  mix-blend-mode: multiply;
}

.text-delimiter:after {
  content: " • ";
}

.text-delimiter:last-child:after {
  content: "";
}

.top-10 {
  top: calc(var(--spacer) * 10);
}

@media (max-width: 575px) {
  .top-8-xs {
    top: calc(var(--spacer) * 8);
  }
}

.z-index-10000 {
  z-index: 10000;
}

/*Components
 */
.content {
  margin-bottom: calc(var(--spacer) * 6);
}

.content code {
  background-color: var(--grey-98);
  color: var(--grey-60);
  padding: 0.2em 0.4em;
}

.content em {
  color: var(--grey-60);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding-top: calc(var(--spacer) * 6);
}

.form-data,
.form-input-wrapper,
.form-textarea-wrapper {
  width: 100%;
}

.form-data,
.form-textarea-wrapper {
  display: flex;
}

@media (max-width: 575px) {
  .hamburger {
    transform: scale(0.75);
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--primary);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  border-radius: 0;
}

.js-end-zone-helper-transition {
  transition: transform var(--transition-duration);
}

.js-end-zone-helper-transition-active {
  transform: translateY(calc(var(--spacer) * (-8)));
}

@media (max-width: 575px) {
  .js-end-zone-helper-transition-active {
    transform: translateY(calc(var(--spacer) * (-15)));
  }
}

.js-end-zone-helper-transition-inactive {
  transform: translateY(0);
}

.nav-md-active,
.nav-md-active .nav-md-inner {
  height: calc(100vh - var(--spacer) * 10);
}

@media (max-width: 575px) {
  .nav-md-active,
  .nav-md-active .nav-md-inner {
    height: calc(100vh - var(--spacer) * 8);
  }
}
