:root {
  --primary: #333;
  --tertiary: #7300e6;
}

/*Variables Grid
 */
:root {
  --grid-gutter-width: 1.2rem;
  --spacer: 0.8rem;
}

@media (max-width: 1399px) {
  :root {
    --container-max-width: 90%;
  }
}

/*Variables Type
 */
:root {
  --font-monospace: 'Source Code Pro', monospace;
  --font-sans-serif: 'Rutan-Regular', sans-serif;
  --font-sans-serif-2: 'Stolzl-Medium', sans-serif;
  --font-sans-serif-bold: 'Rutan-Medium', sans-serif;
  --fs-8: 1.2rem;
  --lh-base: 2.4rem;
}

/*Grid
 */
.row .row {
  margin-left: calc(var(--grid-gutter-width) * (-1));
  width: calc(100% + var(--grid-gutter-width) * 2);
}

[class*='col-'] [class*='col-']:first-child {
  padding-left: var(--grid-gutter-width);
}

[class*='col-'] [class*='col-']:last-child {
  padding-right: var(--grid-gutter-width);
}

/*Type
 */
a {
  text-decoration: none;
}

b,

strong {
  font-family: var(--font-sans-serif-bold);
  font-weight: var(--fw-normal);
}

button {
  padding: 0;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans-serif-2);
  font-weight: var(--fw-normal);
}

h1 {
  line-height: 4.0rem;
}

h2,
h3 {
  line-height: 3.2rem;
}

h4,
h5 {
  line-height: var(--lh-base);
}

img {
  pointer-events: none;
}

li::marker {
  color: var(--secondary);
}

/*Utilities
 */
.align-top {
  vertical-align: top;
}

.backdrop-filter-blur {
 backdrop-filter: blur(var(--spacer)) saturate(130%);
}


.bg-gradient {
  background-image: linear-gradient(90deg, var(--secondary) 0%, var(--tertiary) 100%);
}

.d-inline-flex {
  display: inline-flex;
}

.font-sans-serif-2 {
  font-family: var(--font-sans-serif-2);
}

.font-sans-serif-bold {
  font-family: var(--font-sans-serif-bold);
}

.fs-1,
.fs-1 p {
  line-height: 4.0rem;
}

.fs-2,
.fs-2 p,
.fs-3,
.fs-3 p,
.fs-4,
.fs-4 p,
.fs-5,
.fs-5 p {
  line-height: 3.2rem;
}

.fs-6,
.fs-6 p {
  line-height: var(--lh-base);
}

@media (max-width: 1399px) {
  .fs-1-xl,
  .fs-1-xl p {
    line-height: 4.0rem;
  }

  .fs-2-xl,
  .fs-2-xl p,
  .fs-3-xl,
  .fs-3-xl p,
  .fs-4-xl,
  .fs-4-xl p,
  .fs-5-xl,
  .fs-5-xl p {
    line-height: 3.2rem;
  }

  .fs-6-xl,
  .fs-6-xl p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 1199px) {
  .fs-1-lg,
  .fs-1-lg p {
    line-height: 4.0rem;
  }

  .fs-2-lg,
  .fs-2-lg p,
  .fs-3-lg,
  .fs-3-lg p,
  .fs-4-lg,
  .fs-4-lg p,
  .fs-5-lg,
  .fs-5-lg p {
    line-height: 3.2rem;
  }

  .fs-6-lg,
  .fs-6-lg p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 991px) {
  .fs-1-md,
  .fs-1-md p {
    line-height: 4.0rem;
  }

  .fs-2-md,
  .fs-2-md p,
  .fs-3-md,
  .fs-3-md p,
  .fs-4-md,
  .fs-4-md p,
  .fs-5-md,
  .fs-5-md p {
    line-height: 3.2rem;
  }

  .fs-6-md,
  .fs-6-md p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 767px) {
  .fs-1-sm,
  .fs-1-sm p {
    line-height: 4.0rem;
  }

  .fs-2-sm,
  .fs-2-sm p,
  .fs-3-sm,
  .fs-3-sm p,
  .fs-4-sm,
  .fs-4-sm p,
  .fs-5-sm,
  .fs-5-sm p {
    line-height: 3.2rem;
  }

  .fs-6-sm,
  .fs-6-sm p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 575px) {
  .fs-1-xs,
  .fs-1-xs p {
    line-height: 4.0rem;
  }

  .fs-2-xs,
  .fs-2-xs p,
  .fs-3-xs,
  .fs-3-xs p,
  .fs-4-xs,
  .fs-4-xs p,
  .fs-5-xs,
  .fs-5-xs p {
    line-height: 3.2rem;
  }

  .fs-6-xs,
  .fs-6-xs p {
    line-height: var(--lh-base);
  }
}

@media (max-width: 1199px) {
  .fs-8-lg,
  .fs-8-lg p {
    font-size: var(--fs-8);
  }
}

.grid-columns-1 {
  --grid-columns: 1;
}

.grid-columns-2 {
  --grid-columns: 2;
}

.grid-columns-3 {
  --grid-columns: 3;
}

.grid-columns-4 {
  --grid-columns: 4;
}

.grid-columns-5 {
  --grid-columns: 5;
}

.grid-columns-6 {
  --grid-columns: 6;
}

.grid-columns-7 {
  --grid-columns: 7;
}

.grid-columns-8 {
  --grid-columns: 8;
}

.grid-columns-9 {
  --grid-columns: 9;
}

.grid-columns-10 {
  --grid-columns: 10;
}

.grid-columns-11 {
  --grid-columns: 11;
}

.grid-columns-12 {
  --grid-columns: 12;
}

.grid-columns-13 {
  --grid-columns: 13;
}

.grid-columns-14 {
  --grid-columns: 14;
}

.grid-columns-15 {
  --grid-columns: 15;
}

.grid-columns-16 {
  --grid-columns: 16;
}

.h-0 {
  height: 0;
}

@media (max-width: 1199px) {
  .h-10-lg {
    height: calc(var(--spacer) * 10);
  }
}

@media (max-width: 575px) {
  .h-8-xs {
    height: calc(var(--spacer) * 8);
  }
}

.h-54 {
  height: calc(var(--spacer) * 54);
}

@media (max-width: 575px) {
  .h-60-xs {
    height: calc(var(--spacer) * 60);
  }
}

.mh-21 {
  min-height: calc(var(--spacer) * 21);
}

@media (max-width: 991px) {
  .mh-0-md {
    min-height: 0;
  }
}

.mix-blend-mode-multiply {
  mix-blend-mode: multiply;
}

.text-delimiter:after {
  content: " • ";
}

.text-delimiter:last-child:after {
  content: "";
}

.top-10 {
  top: calc(var(--spacer) * 10);
}

@media (max-width: 575px) {
  .top-8-xs {
    top: calc(var(--spacer) * 8);
  }
}

.z-index-10000 {
  z-index: 10000;
}

/*Components
 */
.content {
  padding-bottom: calc(var(--spacer) * 5);
}

.content code {
  background-color: var(--grey-98);
  color: var(--grey-60);
  padding: 0.2em 0.4em;
}

.content em {
  color: var(--grey-60);
}

.content .fs-1 p {
  font-size: var(--fs-1);
}

.content .fs-2 p {
  font-size: var(--fs-2);
}

.content .fs-3 p {
  font-size: var(--fs-3);
}

.content .fs-4 p {
  font-size: var(--fs-4);
}

.content .fs-5 p {
  font-size: var(--fs-5);
}

.content .fs-6 p {
  font-size: var(--fs-6);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding-top: calc(var(--spacer) * 5);
}

.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child,
.content h5:first-child,
.content h6:first-child {
  padding-top: 0;
}

.content h2 {
  font-size: var(--fs-1);
  line-height: 4.0rem;
}

.content h3,
.content h4 {
  line-height: 3.2rem;
}

.content h3 {
  font-size: var(--fs-2);
}

.content h4 {
  font-size: var(--fs-3);
}

.content h5,
.content h6 {
  line-height: var(--lh-base);
}

.content h5 {
  font-size: var(--fs-4);
}

.content h6 {
  font-size: var(--fs-5);
}

@media (max-width: 991px) {
  .content h2,
  .content h3 {
    line-height: 3.2rem;
  }

  .content h2 {
    font-size: var(--fs-2);
  }

  .content h3 {
    font-size: var(--fs-3);
  }

  .content h4,
  .content h5 {
    line-height: var(--lh-base);
  }

  .content h4 {
    font-size: var(--fs-4);
  }

  .content h5 {
    font-size: var(--fs-5);
  }
}

.content li,
.content p {
  font-size: var(--fs-5);
  line-height: 3.2rem;
}

@media (max-width: 767px) {
  .content li,
  .content p {
    font-size: var(--fs-6);
    line-height: var(lh-base);
  }
}

.content ul {
  text-indent: calc(var(--spacer) * (-2));
  margin-left: calc(var(--spacer) * 2);
}

.content-single blockquote {
  color: var(--grey-60);
  font-family: var(--font-sans-serif-2);
  padding: calc(var(--spacer) * 5) 0;
  width: 100%;
}

.content-single blockquote p {
  font-size: var(--fs-3);
  margin-left: calc(100% / var(--grid-columns) * 3);
  width: calc(100% / var(--grid-columns) * 7);
}

@media (max-width: 991px) {
  .content-single blockquote p {
    margin-left: calc(100% / var(--grid-columns) * 2);
    width: calc(100% / var(--grid-columns) * 10);
  }
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6,
.content-single p,
.content-single pre {
  margin-left: calc(100% / var(--grid-columns) * 2);
  width: calc(100% / var(--grid-columns) * 8);
}

@media (max-width: 991px) {
  .content-single h1,
  .content-single h2,
  .content-single h3,
  .content-single h4,
  .content-single h5,
  .content-single h6,
  .content-single p,
  .content-single pre {
    margin-left: 0;
    width: 100%;
  }
}

.content-single h1,
.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5,
.content-single h6 {
  padding-left: var(--grid-gutter-width);
  padding-right: var(--grid-gutter-width);
}

.content-single img {
  margin: calc(var(--spacer) * 5) 0;
  width: 100%;
}

.content-single p {
  padding: 0 var(--grid-gutter-width);
}

.content-single pre {
  background-color: var(--grey-98);
  color: var(--grey-60);
  margin-top: calc(var(--spacer) * 5);
  padding: calc(var(--spacer) * 3) calc(var(--spacer) * 3) calc(var(--spacer) * 2);
}

.form-data,
.form-input-wrapper,
.form-textarea-wrapper {
  width: 100%;
}

.form-data,
.form-textarea-wrapper {
  display: flex;
}

.grecaptcha-badge {
  visibility: hidden;
}

@media (max-width: 575px) {
  .hamburger {
    transform: scale(0.75);
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--primary);
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  border-radius: 0;
}

.hero strong {
  color: var(--grey-60);
  font-family: var(--font-sans-serif-2);
}

.js-end-zone-helper-transition {
  transition: transform var(--transition-duration);
}

.js-end-zone-helper-transition-active {
  transform: translateY(calc(var(--spacer) * (-8)));
}

@media (max-width: 575px) {
  .js-end-zone-helper-transition-active {
    transform: translateY(calc(var(--spacer) * (-15)));
  }
}

.js-end-zone-helper-transition-inactive {
  transform: translateY(0);
}

.nav-md-active,
.nav-md-active .nav-md-inner {
  height: calc(100vh - var(--spacer) * 10);
}

@media (max-width: 575px) {
  .nav-md-active,
  .nav-md-active .nav-md-inner {
    height: calc(100vh - var(--spacer) * 8);
  }
}
